@page "/"

<PageTitle>AnimeAmongUs</PageTitle>

<Animate Animation="Animations.SlideLeft" Duration="TimeSpan.FromSeconds(1)">
    <div class="d-flex justify-content-end mb-5">
        <a href="/CharactersPage">
            <button type="button" class="btn btn-warning rounded-pill mt-4 mb-5 ">
                <h1>Edit</h1></button>
        </a>
    </div>
</Animate>

<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(1)">
    <div class="d-flex align-items-center justify-content-between m-5">
        <img src="images/among-us-naruto.png" alt="among us naruto skin"/>
        <h1 class="display-1 m-5">Anime Among Us</h1>
        <img src="images/among-us-naruto.png" alt="among us naruto skin"/>
    </div>
</Animate>

<Animate Animation="Animations.SlideUp" Duration="TimeSpan.FromSeconds(1)">
<div class="d-flex justify-content-center m-5">
        <a href="/Game">
            <button type="button" class="btn btn-warning m-5 rounded-pill"><h1>Join</h1></button>
        </a>
    </div>
</Animate>