@page "/HowToPlay"
<PageTitle>How to play></PageTitle>

<div class="d-flex justify-content-end">
    <Animate Animation="Animations.SlideRight" Duration="TimeSpan.FromSeconds(1)">
        <a href="/">
            <button type="button" class="btn btn-warning rounded-pill mt-4">
                <h1>Exit</h1>
            </button>
        </a>
    </Animate>
</div>

<div class="d-flex justify-content-center">
    <h1 class="display-1 my-5">How To Play</h1>
</div>

<div class="d-flex justify-content-center"> 
    <h5 class="col-6">
        At the start of each round, every player is assigned the same character from a popular anime. Depending on the number of players, one or more will 
        instead receive the role of an imposter. If there are fewer than six players, one player will be an imposter. With fewer than ten players, 
        there will be two imposters. For games with ten or more players, three will take on the imposter role. Once all players have received their 
        character, the game begins.
    </h5>
</div>

<br/>

<div class="d-flex justify-content-center">
    <h5 class="col-6">

        While playing, each player must say a word or sentence that matches the displayed character. The goal of the innocent players is to identify the imposter. 
        Meanwhile, the imposter's objective is to avoid being exposed or to figure out which character is being described.
    </h5>
</div>

<br/>

<div class="d-flex justify-content-center">
    <h5 class="col-6">
        Players are not allowed to discuss who the imposter might be during the game. Discussion can only begin if the majority agrees to start deliberating. 
        After the discussion, each player must vote on who they believe the imposter is. Once the discussion starts, the game cannot continue, and players are 
        not allowed to resume play.
    </h5>
</div>

@code {
    
}