@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<footer class="d-flex justify-content-end">
    <h5 style="font-family: Arial" class="fw-bolder me-2">Website by ©rmn</h5>
</footer>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
