html, body {
    background-color: #451093;
}

@font-face {
    font-family: 'AnimeFont';
    src: url('Atop-R99O3.ttf');
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    font-family: 'AnimeFont';
    margin: 0px 0px 0px 0px;
}

hr{
    color: white;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
}