@page "/CharactersPage"
@using WebApp.Client.Models
@inject Services.CharacterService CharacterService
@rendermode InteractiveWebAssembly

<PageTitle>Character Page</PageTitle>
<h1 class="display-1">CharactersPage</h1>

@code {
    
}